:root {
    --font: 'Source Serif 4', serif;
    --radius: 20px;

    /* Colors */
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #979ba3;
    --color-accent: #1892fa;
    --linear-weather: linear-gradient(to bottom,
            #333842 0%,
            #292933 53%,
            #414655 100%);
    --linear-weather: linear-gradient(to bottom,
            rgba(33, 35, 37, 0) 42%,
            rgba(33, 35, 37, 0.7) 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;

    -webkit-font-smoothing: antialiased;
}
